/* Gerais */

html {
    scroll-behavior: smooth;
}

body {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}


/* Inicio */

#home {
    margin-top: 165px;
    height: 93vh;
}

.logoBanner {
    width: 110px;
    height: auto;
}

#home .container .main-title {
    letter-spacing: 1px;
}

.btnHome {
    transition: .7s;
    padding: 15px;
    font-size: 23px;
}

.btnHome:focus {
    box-shadow: none;
}


/* Barra de navegação */

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

li {
    background-color: rgb(82, 82, 82);
    font-size: 14px;
}

header,
.navbar {
    background-color: #353D41;
}

.navbar-nav a:hover {
    background-color: #2d3535;
}

#nav-container {
    padding-bottom: 0;
    padding-top: 0;
}

#logo {
    width: 45px;
    margin-right: 15px;
}

.nav-brand {
    padding: 0;
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

#navbar-link a {
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

.navbar-toggler {
    border: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}


/* MAIN SOBRE NOS */

.main-title {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    margin-bottom: 30px;
}


/* 
.main-title::after {
    content: "";
    border-top: 3px solid rgb(171, 121, 232);
    width: 60px;
    position: absolute;
    top: 942px;
    left: 51.5%;
} */

#services-area {
    margin-top: 40px;
    color: #fff;
}

.services-box {
    text-align: center;
    margin-bottom: 50px;
}

.services-box svg,
.services-box h4 {
    transition: .4s;
}

svg {
    font-size: 90px;
    width: 40px;
    color: #fff;
}

.services-box:hover>svg,
.services-box:hover>h4 {
    color: rgb(171, 121, 232);
}


/* INSTRUTORES */

.photo-team {
    width: 100px;
    height: 100px;
    border: 50%;
}

.p-team {
    font-size: 25px;
    text-align: center;
}

.row-p-2 {
    margin-top: 40px;
}